<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> <%= current_user.try(:name) || "Nobody" %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li class="divider"></li>
    <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
  </ul>
</div>