<div id="navbar"></div>

<div class="container">
  <% if notice.present? %><p class="alert alert-notice"><%= notice %></p><% end %>
  <% if alert.present? %><p class="alert alert-alert"><%= alert %></p><% end %>
</div>

<div id="container">Loading...</div>